[submodule "node_modules/uglify-js"]
	path = node_modules/uglify-js
	url = https://github.com/mishoo/UglifyJS.git
[submodule "node_modules/coffee-script"]
	path = node_modules/coffee-script
	url = https://github.com/jashkenas/coffee-script.git
